@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;600;700;800;900&family=Playball&display=swap');

html{
     /* background-image: url("photos/background.jpg"); */
     box-sizing: border-box;
     background: linear-gradient(30deg, #e3e1dc 12%, transparent 12.5%, transparent 87%, #e3e1dc 87.5%, #e3e1dc 0), 
    linear-gradient(150deg, #e3e1dc 12%, transparent 12.5%, transparent 87%, #e3e1dc 87.5%, #e3e1dc 0), 
    linear-gradient(30deg, #e3e1dc 12%, transparent 12.5%, transparent 87%, #e3e1dc 87.5%, #e3e1dc 0), 
    linear-gradient(150deg, #e3e1dc 12%, transparent 12.5%, transparent 87%, #e3e1dc 87.5%, #e3e1dc 0), 
    linear-gradient(60deg, #dcd9d4 25%, transparent 25.5%, transparent 75%, #dcd9d4 75%, #dcd9d4 0), 
    linear-gradient(60deg, #dcd9d4 25%, transparent 25.5%, transparent 75%, #dcd9d4 75%, #dcd9d4 0), #dcd9d4;    
    height: 700px;   
    background-position: 0 0, 0 0, 2.5px 4.5px, 2.5px 4.5px, 0 0, 2.5px 4.5px;
    background-size: 5px 9px;
}

*{
    box-sizing: inherit;
}

body{
    font-family: 'Montserrat';
    margin: 0 auto;
}



/* Regulations */
.r-container{
    width: 80%;
    margin: 0 auto;
}

.r-card{
    background-color: white;
    min-height: 150px;
    margin: 20px 20px;
    border-bottom: 10px solid #c8ac48;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

h2{
    font-family: 'EB Garamond';
    font-size: 50px;
    font-weight: 400;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 80px 0px 50px 0px;    
}

p{
    width: 80%;
    margin: 0 auto;
    text-align: left;
    padding: 50px 0px;
    min-height: 150px;
}

h3{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 40px 0px;
    border-bottom: 2px solid rgb(10, 10, 10, 0.5);
}

.r-flex{
    display: flex;
    flex-wrap: wrap;
}

.r-flex-1{
    flex: 1 1 40%;
}

.r-flex-2{
    flex: 1 1 40%;
}

.r-a{
    text-decoration: none;
    color: black;
    text-align: center;
    background-color: #c8ac48;
    border: 1p solid black;
    border-radius: 15px;
    padding: 10px 40px;
    margin-left: 100px;
    display: flex;
    flex-wrap: wrap;
    width: 50%;
}


.last-row{
    margin-bottom: 100px;
}

@media screen and (max-width: 1000px) {
    .r-a{
        text-align: center;
        margin-left: 80px;
        padding-left: 25px;
    }
  }

  @media screen and (max-width: 800px) {
    .r-a{
        text-align: center;
        margin-left: 50px;
        width: 60%;
        padding-left: 25px;
        }
  }
  
  @media screen and (max-width: 700px) {
    .r-a{
        text-align: center;
        margin-left: 140px;
        width: 40%;
        padding-left: 50px;
    }
  }

  @media screen and (max-width: 600px) {
    .r-a{
        text-align: center;
        margin-left: 90px;
        width: 50%;
        padding-left: 45px;
    }
  }

  @media screen and (max-width: 500px) {
    .r-a{
        text-align: center;
        margin-left: 80px;
        width: 50%;
        padding-left: 45px;
    }
  }