@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;600;700;800;900&family=Playball&display=swap');

html{
     /* background-image: url("photos/background.jpg"); */
     box-sizing: border-box;
     background: linear-gradient(30deg, #e3e1dc 12%, transparent 12.5%, transparent 87%, #e3e1dc 87.5%, #e3e1dc 0), 
    linear-gradient(150deg, #e3e1dc 12%, transparent 12.5%, transparent 87%, #e3e1dc 87.5%, #e3e1dc 0), 
    linear-gradient(30deg, #e3e1dc 12%, transparent 12.5%, transparent 87%, #e3e1dc 87.5%, #e3e1dc 0), 
    linear-gradient(150deg, #e3e1dc 12%, transparent 12.5%, transparent 87%, #e3e1dc 87.5%, #e3e1dc 0), 
    linear-gradient(60deg, #dcd9d4 25%, transparent 25.5%, transparent 75%, #dcd9d4 75%, #dcd9d4 0), 
    linear-gradient(60deg, #dcd9d4 25%, transparent 25.5%, transparent 75%, #dcd9d4 75%, #dcd9d4 0), #dcd9d4;    
    height: 700px;   
    background-position: 0 0, 0 0, 2.5px 4.5px, 2.5px 4.5px, 0 0, 2.5px 4.5px;
    background-size: 5px 9px;
}

*{
    box-sizing: inherit;
}

body{
    font-family: 'Montserrat';
    margin: 0 auto;
}



/* Contact*/
#contact-container{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
    background-color: white;
    display: flex; 
    color: #000000;
    margin-top: 100px;
    font-family: "Montserrat", sans-serif;
    padding-top: 50px;
    padding-right: 15px;
    border-bottom: 10px solid #c8ac48;
}

.container{
    width: 80%;
    margin: 0 auto;
}

.display-flex{
    display: flex;
}


#flex-30-2{
    flex: 1 1 30%;
    display: flex;
    justify-content: space-evenly;
    padding-left: 30px;
    padding-top: 10px;
}

#flex-30-3{
    flex: 1 1 30%;
    display: flex;
    justify-content: space-evenly;
    padding-right: 70px;
    margin-top: -20px;
}

.c-footer-choises{
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    padding-top: -20px;
}

.c-span-design{
    color: c8ac48;
    font-weight: bold;
    font-size:20px; 
    margin-top: -5px;
    margin-bottom: -40px;
}

.c-container-choises{
    margin-top: 80px;
    margin-bottom: 50px;
}

.span-margin{
    margin-top: -20px;
}

.company-logos{
    display: flex;
    flex-wrap: wrap;
}

.company-logos div{
    width: 150px;
}

#economics{
    width: 200px;
    height: 200px;
    margin-top: 0px;
}

#p-margin{
    margin-left: 20px;
    margin-top: -15px;
    margin-bottom: 50px;
}

#colors1{
    margin-bottom: 50px;
}

footer{
    margin-top: 150px;
}

.c-a{
    color: #000000;
    text-decoration: none;
}
.margin-choises{
    margin-bottom: 5px;
}
.choises-icons{
    width:30px;
    padding-right: 10px;
}


@media screen and (max-width: 600px) {
    #flex-30-2{
        order: 1;
        padding-right: 15px;
    }
    #flex-30-3{
        order: 2;
    }
  }