@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;600;700;800;900&family=Playball&display=swap');

footer{
    background-color: #454545;
    display: flex; 
    flex-wrap: wrap;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
}

.container-choises{
    width: 80%;
    margin: 0 auto;
}

.display-flex{
    display: flex;
    flex-wrap: wrap;
}

#flex-footer-30-1{
    flex: 1 1 30%;
    display: flex;
    justify-content: space-evenly;
    padding-left: 50px;
    padding-bottom: 30px;
    margin-top: 50px;
}

#flex-footer-30-2{
    flex: 1 1 30%;
    display: flex;
    justify-content: space-evenly;
    padding-left: 20px;
}

.footer-choises{
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    padding-top: -20px;
}

.footer-padding{
    padding-top: 50px;
}

.span-design{
    color: #c8ac48;
    font-weight: bold;
    font-size:20px; 
    margin-top: -80px;
    margin-bottom: -40px;
}

.design-contact{
    margin-left: -20px;
}

.container-choises{
    margin-top: 0px;
}

.span-margin{
    margin-top: 50px;
}

.company-logos{
    display: flex;
    flex-wrap: wrap;
}

.company-logos div{
    width: 150px;
}

#economic{
    width: 150px;
    height: 150px;
    padding-bottom: 70px;
    padding-right: 70px;
    padding-top: 20px;
}

#p-margin{
    margin-left: 20px;
    margin-top: -15px;
}

#colors1{
    margin-bottom: 50px;
}

a{
    color: white;
    text-decoration: none;
}
.copyrightdiv{
    background-color: #c8ac48;
    display: flex; 
    color: white;
    justify-content: center;
}
.margin-choises{
    margin-bottom: 5px;
}
.choises-icons{
    width:20px;
    padding-right: 10px;
}

@media screen and (max-width: 800px) {
    #flex-footer-30-1{
        flex: 1 1 80%;
        order: 1;
        padding-right: 50px;
    }
    #flex-footer-30-2{
        flex: 1 1 80%;
        order: 2;
        padding-right: 50px;
        margin-left: -20px;
        padding-top: 20px;
    }
    .design-contact{
        margin-top: -130px;
    }
    #economic{
        order: 3;
        padding-left: 60px;
        padding-top: 40px;
    }
  } 

  @media screen and (max-width: 700px) {
    #flex-footer-30-1{
        flex: 1 1 80%;
        order: 1;
        padding-right: 50px;
    }
    #flex-footer-30-2{
        flex: 1 1 80%;
        order: 2;
        padding-right: 50px;
        margin-left: -10px;
        padding-top: 20px;
    }
    .design-contact{
        margin-top: -130px;
    }
    #economic{
        order: 3;
        padding-left: 60px;
        padding-top: 40px;
    }
  } 

  @media screen and (max-width: 600px) {
    #flex-footer-30-1{
        flex: 1 1 80%;
        order: 1;
        padding-right: 50px;
    }
    #flex-footer-30-2{
        flex: 1 1 80%;
        order: 2;
        padding-right: 50px;
        margin-left: 10px;
        padding-top: 20px;
    }
    .design-contact{
        margin-top: -130px;
    }
    #economic{
        order: 3;
        padding-left: 60px;
        padding-top: 40px;
    }
  } 

