@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;600;700;800;900&family=Playball&display=swap');

html{
     /* background-image: url("photos/background.jpg"); */
     box-sizing: border-box;
     background: linear-gradient(30deg, #e3e1dc 12%, transparent 12.5%, transparent 87%, #e3e1dc 87.5%, #e3e1dc 0), 
     linear-gradient(150deg, #e3e1dc 12%, transparent 12.5%, transparent 87%, #e3e1dc 87.5%, #e3e1dc 0), 
     linear-gradient(30deg, #e3e1dc 12%, transparent 12.5%, transparent 87%, #e3e1dc 87.5%, #e3e1dc 0), 
     linear-gradient(150deg, #e3e1dc 12%, transparent 12.5%, transparent 87%, #e3e1dc 87.5%, #e3e1dc 0), 
     linear-gradient(60deg, #dcd9d4 25%, transparent 25.5%, transparent 75%, #dcd9d4 75%, #dcd9d4 0), 
     linear-gradient(60deg, #dcd9d4 25%, transparent 25.5%, transparent 75%, #dcd9d4 75%, #dcd9d4 0), #dcd9d4;    
     height: 700px;   
     background-position: 0 0, 0 0, 2.5px 4.5px, 2.5px 4.5px, 0 0, 2.5px 4.5px;
     background-size: 5px 9px;
}

*{
    box-sizing: inherit;
}

body{
    font-family: 'Montserrat';
    margin: 0 auto;
}



/* Korisni Linkovi*/

.r-container{
    width: 80%;
    margin: 0 auto;
}

.r-card{
    background-color: white;
    min-height: 150px;
    margin: 20px 20px;
    border-bottom: 10px solid #c8ac48;
}

p{
    width: 80%;
    margin: 0 auto;
    text-align: left;
    padding: 20px 0px 50px 20px;
}

h3{
    font-family: 'EB Garamond';
    font-size: 50px;
    font-weight: 400;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 80px 0px 50px 0px;    
}

.r-flex{
    display: flex;
    flex-wrap: wrap;
    padding-right: 15px;
}

.r-flex-1{
    flex: 1 1 40%;
}

.r-flex-2{
    flex: 1 1 40%;
}

.r-a{
    text-decoration: none;
    color: black;
    text-align: center;
}

.r-lista{
    text-decoration: none;
}

#r-first-paragraph{
    padding-top: 50px;
}

.r-logos{
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    width: 100%;
}


@media screen and (max-width: 1200px) {
    .r-logos{
        padding: 20px 0px;
    }
    .r-flex-1{
        order: 1;
    }
    .r-flex-2{
        order: 2;
    }
  }

  @media screen and (max-width: 900px) {
    .r-logos{
        padding: 10px 0px;
        width: 120%;
        margin-left: -30px;
    }
    .r-flex-1{
        order: 1;
    }
    .r-flex-2{
        order: 2;
    }
  }